@{
    ViewBag.Title = "Secure Deserialization";
}

<div class="jumbotron">
    <h1>SecureDeserialization</h1>
    <p class="lead">Custom type name handling has been performed here so that only those types run which are already whitelisted</p>

</div>

@Html.ActionLink("Click here for insecure deserialization", "InsecureDeserialization")